@page "/products"

<h3>ProudctList</h3>
<br />
<SearchProductComponent 
    OnProductSearchInventory="OnSearchProduct"></SearchProductComponent>
<br />
<ProductListComponent SearchTerm="@_searchTerm"></ProductListComponent>

@code {
    private string _searchTerm = string.Empty;

    private void OnSearchProduct(string serachTerm)
    {
        this._searchTerm = serachTerm;
    }
}
