@page "/"
@using IMS.CoreBussiness;
@using IMS.UseCases.Inventories.Interfaces;

@inject IViewInventoriesByNameUserCase ViewInventoriesByNameUseCase

<PageTitle>Index</PageTitle>
<br/> 
<u>
    @foreach (var inv in _inventories)
    {
        <li> 
            @inv.InvetoryName
        </li>
    }   
</u>

@code{
    private List<Inventory> _inventories =  new List<Inventory>();

    protected override async Task OnInitializedAsync()
    {
        _inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync("body")).ToList();
    }
}
